<%= simple_form_for(@advert) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if admin? %>
          <%= f.association :user %>
      <% end %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :contact_details %>
      <%= f.association :category, as: :radio_buttons %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
