<%= simple_form_for @advert, :html => { :multipart => true } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if admin? %>
          <%= f.association :user %>
          <%= f.input :approved %>
      <% end %>
      <%= f.input :title %>
      <%= f.input :image %>
      <%= f.input :description %>
      <%= f.input :contact_details %>
      <%= f.association :category, as: :radio_buttons %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
