<h1>
  <%= @advert.title %>
</h1>
<br/>
<p>
  <%= image_tag @advert.image %>
</p>

<p>
  <b>Description:</b>
  <%= @advert.description %>
</p>

<p>
  <b>Contact details:</b>
  <%= @advert.contact_details %>
</p>

<p>
  <b>Category:</b>
  <%= @advert.category.name %>
</p>

<% if admin? || owner_of?(@advert) %>
    <%= link_to 'Edit', edit_advert_path(@advert) %>
<% end %>

<h2>Contact The Owner</h2>

<%= render "leads/form" %>